:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: rgba(212, 114, 114, 0.69);
    --primary-color: #a53b3b;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --star-gold-color: #d1b200;
}
* {
    box-sizing: inherit;
}
html {
    /* life hack */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
/* Responsive */

.grid {
    width: 1350px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__col{}

/* test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

/* animation */
@keyframes fadeIn {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn ease-in 0.2s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    background-color: var(--white-color);
    border-radius: 8px;
    margin: auto;
    position: relative;
    z-index: 10;
    animation: growth linear 0.2s;
}

/* button style */
.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
    /* display: inline-flex; */
    justify-content: center;
    align-items: center;
}
.btn.btn--normal:hover {
    color: rgba(0, 0, 0, 0.5);
}
.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn.btn--primary:hover {
    background-color: rgba(85, 41, 41, 0.9);
}

.btn.btn--disable {
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}
.btn.btn--size-s {
    height: 32px;
    font-size: 1.1rem;
    padding: 0 10px;
    width: 200px;
}


/* selection */
.select-input {
    background-color: var(--white-color);
    height:34px;
    padding:0 12px;
    border-radius: 4px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}
.select-input:hover .select-input__list {
    display: block;
}
.select-input__label {
    font-size: 1.4rem;
}
.select-input__icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}
.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 26px;
    border-radius: 4px;
    background-color: var(--white-color);
    padding:10px 16px;
    list-style: none;
    display: none;
}
.select-input__list::after {
    content: "";
    height: 10px;
    width: 100%;
    display: block;
    position: absolute;
    top:-5px;
    left: 0;
}
.select-input__link {
    display: block;
    font-size: 1.4rem;
    color:#222;
    text-decoration: none;
    padding:5px 0;
}
.select-input__link:hover {
    color: var(--primary-color);
}

/* pagination */
.pagination {
    display: flex;
    justify-content:center;
    align-items: center;
    list-style: none;
}
.pagination-item {
    margin: 0 12px;

}

.pagination-item__link {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height:30px;
    display: block;
    text-align: center;
    line-height:30px;
    border-radius: 2px;
}

.pagination-item--active a {
    background-color: var(--primary-color);
    color: #fff;
}
.pagination-item--active .pagination-item__link:hover {
    background-color:#c27979;
}
